# Data
Data/raw/*
!Data/raw/.gitkeep

Data/processed/*
!Data/processed/.gitkeep

models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code / Cursor
.vscode/